@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>


<address>
   Fernando Luís Lima Tomé Maia Ribeiro<br />
    Rua Oito, 150 - Residencial Sul Ipês<br />
    <abbr title="Phone">Telefones:</abbr>
    (38) 99919-6616 ou (38) 98401-6976
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:fernando.ltmr@gmail.com">fernando.ltmr@gmail.com</a><br />
</address>